

.application-gradient{left: 0; top: 0;}
.application-form-wrap{padding: 210px 0 0;}
.application-form-main{padding: 90px 80px 5rem;}
.application-form-text span.optional-text{margin-bottom: 30px;}
.application-form-text h1{margin-bottom: 31px;}
.application-form-quote span{font-size: 20px; line-height: 1.2; color: #151c39; font-weight: bold;}
.application-form-text .button span.fa-arrow-left{margin-right: 16px;}
.application-form-text .button span.fa-arrow-right{margin-left: 16px;}
.application-btm-gradient{ bottom: 0; right: -100px; }

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .application-form-main{gap: 0 80px;}
    .application-form-text{flex: 0 0 352px;}
    .application-form-text .button{margin-top: 8px;}
    .application-form-quote{flex: 1; padding-top: 10px;}
    .application-form-quote h2{margin-bottom: 44px;}
    .page-template-rate-request .application-form-quote{ padding-top: 0; margin-top: -5px;}
    .page-template-rate-request .application-form-quote h2{margin-bottom: 21px;}
}

@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .application-form-text{flex: 0 0 100%; margin-bottom: 40px;}

}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .application-form-main{padding: 60px 32px;}
    .application-form-text{margin-bottom: 50px;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .application-form-wrap{padding: 147px 0 0;}
    .application-gradient{display: none;}
    .application-form-main{padding: 40px 0 10px;}
    .application-form-text{padding: 0 16px 74px;}
    .application-form-text span.optional-text{margin-bottom: 18px;}
    .application-form-text h1 {margin-bottom: 19px;}
    .application-form-text .button{margin-top: -8px;}
    .page-template-rate-request .application-form-text{padding-bottom: 60px;}
    .page-template-rate-request .application-form-text .button{width: 100%;}
    .application-form-quote{width: 100%;}
    .application-form-quote h2{margin-bottom: 7px;}
    .application-form-quote span{font-size: 18px; line-height: 1.33;}
    .application-form-quote::before{content: ""; position: absolute; width: calc(100% + 40px); height: 100%; background-color: white; margin-left: -20px; z-index: -1;}
}














