
.client-logos-main{ position: relative; overflow: hidden;}
.client-logos-row{justify-content: center;}
.client-logo-thumb img{min-height: 48px; max-height: 48px; width: auto; height: auto; opacity: 0.4; object-fit: contain; filter: grayscale(100%);}

/*-- media css starts here --*/
@media screen and (min-width: 1024px) {
    .client-logos-wrap{padding: 3.5rem 3rem;}
    body.home .client-logos-wrap{margin-top: -75px;}
    .page-template-default .client-logos-wrap{margin-top: -60px;}
    .client-logo-list{width: 120px; margin: 0 20px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .client-logos-wrap{padding: 3.5rem 2rem;}
    .client-logo-list{width: 94px; margin: 0 10px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .client-logos-wrap{padding: 24px 0;}
    .client-logos-row{gap: 32px;}
    .client-logo-list{flex: 0 0 calc(25% - 24px);}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .client-logos-wrap{padding: 24px 0;}
    .client-logos-row{gap: 32px;}
    .client-logo-list{flex: 0 0 calc(33.333% - 22px);}
}