
.confirmation-main{padding-bottom: 16.2rem; max-width: 30.25rem;}
.confirmation-icon{width: 64px; margin-bottom: 18px;}
.confirmation-icon svg{width: auto; height: 64px;}
.confirmation-text p{color: var(--white-80);}


.amar-frame{bottom: 71px; right: -98px; z-index: -1; animation: move 5s linear infinite;}
@keyframes move{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-10px);
    }
}
.amar-vector{bottom: 0; left: 0; right: 0; margin: 0 auto; opacity: 0.2; z-index: -1; width: 1920px; height: 522px; background-image: url("../../images/Vector.svg");}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .confirmation{padding-top: 15.25rem;}
    .confirmation-text h1{font-size: 3rem; line-height: 3.5rem;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .confirmation{padding-top: 10.688rem;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .confirmation{padding-top: 8.3rem;}
    .confirmation-main{padding-bottom: 4.25rem; display: block; text-align: center;}
    .confirmation-text h1{margin-bottom: 1.25rem;}
}
