
.page-template-leadership .cta-panel-section{z-index: 1; position: relative;}
.cta-panel-section{ background-image: linear-gradient(to bottom, #003C6E 0%, #003C6E 100%), linear-gradient(to bottom, #1998D5, #EAECF2); }
.cta-panel-main{padding: 96px 0 89px;}
.cta-btns{gap: 24px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .cta-panel-main{gap: 49px; flex-direction: row-reverse;}
    .cta-panel-text{flex: 0 0 483px;}
    .cta-panel-image{flex: 1; gap: 20px;}
    picture.cta-thumb{flex: 1;}
    picture.cta-thumb-sm{flex: 0 0 260px; height: auto;}
}
