


.default-article hr{margin-top: 54px;}
.default-article ul li{font-size: 1.125rem; line-height: 1.625rem;}
.default-article-swoop { bottom: 200px; right: -255px; z-index: -1;}
.default-article-swoop svg{width: 672px; height: auto;}

/* media css starts here */
@media only screen and (min-width: 1300px){
    .default-article{padding: 2rem 0 8.2rem;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .default-article{padding: 2rem 0 4rem;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .default-article{padding: 0 0 3.4rem;}
}