

.long-content-main{margin-top: -100px; padding: 76px 5rem 59px;}
.long-content-main ul{margin-bottom: 55px;}

.long-image{margin: 48px 0 54px;}
.swoosh-small{bottom: -48px; right: -40px; position: absolute;}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .long-content-main{padding: 60px 1.5rem 59px;}
}