
.marketing-cta-main.no_image{display: block;}
.no_image .marketing-cta-text{transform: none;}
.no_image .marketing-cta-text h2 br{display: none;}
.marketing-cta-text.shadow{box-shadow: 0px 24px 24px 0px rgba(110, 148, 206, 0.24);}
.marketing-cta-text h2{margin-bottom: 1.5rem;}
.marketing-cta-img iframe, .marketing-cta-img video{width: 100%; height: 100%; margin: 0; object-fit: cover;}
.marketing-cta-thumb::before{content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(5, 8, 22, 0.5);}
.marketing-cta-swoosh{top: -98px; left: -100px; width: 258px; height: 266px; position: absolute;}
.stats-bg-dark .marketing-cta-text{background-color: var(--text-100); color: var(--white); box-shadow: none;}
.stats-bg-dark .marketing-cta-text h2{color: var(--white);}
.stats-bg-dark .marketing-cta-text .text-link{color: var(--white);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .marketing-cta-main{flex-wrap: nowrap; padding: 0 0 80px;}
    .page-template-innovation .marketing-cta-main{padding-bottom: 0;}
    .page-template-about .marketing-cta-main{padding: 60px 0 60px;}
    .marketing-cta-img iframe, .marketing-cta-img video{min-width: 720px; min-height: 560px;}
}
@media only screen and (min-width: 1300px){
    .marketing-cta-img{flex: 1; min-width: 720px;}
    .marketing-cta-text{flex: 0 0 792px; transform: translateX(-120px); padding: 3.9rem 5rem;}
    .page-template-innovation .marketing-cta-text{padding: 3.2rem 5rem;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .marketing-cta-img{flex: 0 0 calc(100% - 492px); min-width: 552px;}
    .marketing-cta-text{flex: 0 0 492px; transform: translateX(-60px); padding: 3.9rem 2rem;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .marketing-cta-main{display: block; padding: 0 0 40px;}
    .marketing-cta-text{width: calc(100% - 32px); margin: -280px auto 0; padding: 32px 29px;}    
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .marketing-cta-main{display: block; padding: 0 0 17px;}
    .marketing-cta-img img{min-height: 560px;}
    .marketing-cta-text{width: calc(100% - 32px); margin: -280px auto 0; padding: 32px 29px;}
    .page-template-innovation .marketing-cta-text{padding: 32px 29px 40px; }
    .page-template-innovation .marketing-cta-text .text-link{margin-top: 6px;}
}