
.optional-cta-main{padding: 0 0 76px;}
.optional-cta-text h2{margin-bottom: 1.5rem;}
.optional-cta-img{ box-shadow: 0px 24px 24px 0px rgba(110, 148, 206, 0.24); }
.optional-cta-swoosh{left: -45px; bottom: -45px;}
.optional-cta-swoop{top: -308px; right: -240px; opacity: 0.2; z-index: -1;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .optional-cta-list{gap: 0 80px;}
    .optional-cta-list:not(:last-child){margin-bottom: 98px;}
    .optional-cta-list:nth-child(even){flex-direction: row-reverse;}
    .optional-cta-img{flex: 0 0 600px;}
    .optional-cta-text{flex: 1;}
    .optional-cta-btns{gap: 20px;}
}
@media only screen and (min-width: 1300px){
}
@media only screen and (max-width: 1023px) and (min-width: 768px){

}
@media only screen and (max-width: 767px) and (min-width: 200px){

}
@media only screen and (max-width: 380px) and (min-width: 200px){
}