
.optional-cta-main{padding: 0 0 76px;}
.optional-cta-text h2{margin-bottom: 1.5rem;}
.optional-cta-img{ box-shadow: 0px 24px 24px 0px rgba(110, 148, 206, 0.24); }
.optional-cta-swoosh{position: absolute;}
.optional-cta-swoosh0{left: -45px; bottom: -45px;}
.optional-cta-swoosh1{top: -308px; right: -240px; opacity: 0.2; z-index: -1;}
.optional-cta-swoosh2{ bottom: -60px; right: -40px; }
.optional-cta-swoosh3{ top: -174px; left: -271px; z-index: -1; }
.optional-cta-swoosh4{top: -42px; left: -47px;}
.optional-cta-swoosh5{top: -34px; right: -80px;}
.optional-cta-swoosh6{top: -34px; right: -80px;}
.optional-cta-icon{z-index: -1; opacity: 0.05;}
.optional-cta-icon.right{right: 0; top: 0;}

.optional-cta-list.no-image .optional-cta-text{flex: 100%;}
.optional-cta-list.no-image .optional-cta-img > div{display: none;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .page-template-innovation .optional-cta-main{margin-top: -80px; padding: 5rem 5rem 4rem;}
    .optional-cta-list{gap: 0 80px;}
    .optional-cta-list:not(:last-child){margin-bottom: 98px;}
    .page-template-carrer  .optional-cta-list:not(:last-child) {margin-bottom: 136px;}
    .page-template-services .optional-cta-list:not(:last-child){margin-bottom: 160px;}
    .optional-cta-list:nth-child(even){flex-direction: row-reverse;}
    .optional-cta-list.reverse{flex-direction: row-reverse;}
    .optional-cta-list.reverse:nth-child(even){flex-direction: row;}
    .optional-cta-img{flex: 0 0 600px;}
    .optional-cta-text{flex: 1;}
    .optional-cta-btns{gap: 20px;}
    .page-template-confirmation .optional-cta-swoosh0{bottom: -7px; left: -80px;}
    .page-template-carrer .optional-cta-main.x-p{padding: 0 0 160px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .optional-cta-list{gap: 0 2rem;}
    .optional-cta-img {flex: 0 0 50%;}
    .page-template-services .optional-cta-list:not(:last-child){margin-bottom: 80px;}
    body.page-template-innovation .optional-cta-main{padding: 5rem 2rem 4rem;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    body.page-template-innovation .optional-cta-main{padding: 4rem 0 4rem;}
    .optional-cta-list{display: block;}
    .optional-cta-list:not(:last-child){margin-bottom: 4rem;}
    .optional-cta-img{margin-bottom: 3rem;}
    .optional-cta-swoosh{display: none;}

    body.page-template-carrer .optional-cta-main{padding: 0 0 40px;}
    body.category-news .optional-cta-main{padding: 0 0 40px;}
    body.category-news .optional-cta-list{flex-direction: column-reverse; display: flex;}
    body.category-news .optional-cta-text{margin-bottom: 40px;}
    body.category-news .optional-cta-img{margin-bottom: 0;}
    .page-template-default .optional-cta-swoosh4{display: none;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    body.page-template-innovation .optional-cta-main {padding: 1rem 0 2rem;}
    .optional-cta-swoosh{display: none;}
    .optional-cta-list{display: block;}
    .optional-cta-list:not(:last-child){margin-bottom: 2rem;}
    body.page-template-innovation .optional-cta-img{margin-bottom: 2.5rem;}
    body.page-template-innovation .optional-cta-text span.optional-text{margin-bottom: 14px;}
    .optional-cta-text h2{margin-bottom: 0.7rem;}
    .optional-cta-img {margin-bottom: 3rem;}
    .optional-cta-swoosh{display: none;}

    body.category-news .optional-cta-main{padding: 0 0 20px;}
    body.category-news .optional-cta-list{flex-direction: column-reverse; display: flex;}
    body.category-news .optional-cta-text{margin-bottom: 20px;}
    body.category-news .optional-cta-img{margin-bottom: 0;}

    .page-template-carrer .optional-cta-main{padding: 0 0 44px;}
    .page-template-carrer .optional-cta-img{margin-bottom: 1.5rem;}
    .page-template-default .optional-cta-img{margin-bottom: 1.5rem;}
    .page-template-default .optional-cta-text span.optional-text{margin-bottom: 20px;}
    .page-template-default .optional-cta-text h2{margin-bottom: 1.25rem;}
    .page-template-default .optional-cta-swoosh4{display: none;}
}