

.other-services-head{max-width: 651px; margin-bottom: 73px;}
.services-pagination{display: none;}

/* media css starts here */
@media only screen and (min-width: 768px){
    .other-services-slider .slick-slide{width: 296px; margin-right: 32px;}
}
@media only screen and (min-width: 1024px){
    .other-services-main{margin-top: -76px; padding: 80px 5rem 80px;}
    .page-template-default .other-services-main{margin-top: 0;}
    .other-services-slider .service-text svg{margin-bottom: 26px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .other-services-main{margin-top: -76px; padding: 40px 1.5rem 80px;}
    .other-services-slider .slick-list{width: 100vw;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .other-services-slider .slick-slide{width: 296px; margin-right: 32px;}
    .other-services-slider .slick-list{width: 100vw;}
}