

.other-services-main{margin-top: -76px; padding: 80px 5rem 80px;}
.other-services-head{max-width: 651px; margin-bottom: 73px;}
.other-services-slider .slick-slide{width: 296px; margin-right: 32px;}
.services-pagination{display: none;}