
.our-equipment-main{background: linear-gradient(180deg, #F5F7FA 59.03%, rgba(245, 247, 250, 0.00) 100%);}
ul.equipment-links{margin: 0;}
ul.equipment-links li::before{display: none;}
ul.equipment-links li{margin: 0;}
.equipment-link{padding: 1rem; gap: 1.5rem; font-size: 1.25rem; line-height: 1.5rem; color: var(--text-color); border-bottom: 1px solid  rgba(94, 103, 131, 0.25); align-items: center; font-weight: 700; position: relative;}
.equipment-link.current{background-color: var(--white); border-bottom-color: transparent; color: var(--text-100);}
.equipment-link::before{width: 4px; height: 0; top: 50%; transform: translateY(-50%); left: 0; background-color: var(--amar-orange); content: ""; display: block; position: absolute; transition: height 0.45s ease;}
.equipment-link.current::before{height: 100%;}
.equipment-number{color: var(--amar-orange);}
.equipment-text h3{margin-bottom: 14px;}

/* media css starts here */
@media only screen and (min-width: 768px){
    .our-equipment-wrap{padding: 53px 0 0;}
    .equipment-swoosh{top: 0; right: -94px; position: absolute; z-index: -1;} 
    .our-equipment-title h2{font-size: 2.25rem; line-height: 2.5rem; margin-bottom: 1.5rem;}
    .equipment-list{gap: 24px;}
    .equipment-image{flex: 0 0 100px;}
    .equipment-text{flex: 1;}
}
@media only screen and (min-width: 1024px){
    .our-equipment-main{padding: 80px 5rem 81px;}
    .page-template-services .our-equipment-main{padding: 80px 5rem 45px;}
    .our-equipment-head{margin-bottom: 94px;}
    .our-equipment-title{flex: 0 0 639px;}
    .our-equipment-btn{flex: 1;}
    .equipment-rows{padding: 5rem 5rem 7rem; flex: 1;}
    .equipment-lists{gap: 32px;}
    .equipment-list{gap: 24px; flex: 0 0 calc(50% - 16px);}
    .equipment-row{display: none;}
    .equipment-row.current{display: block;}
    .equipment-row .equipment-link{display: none;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .our-equipment-main { padding: 80px 2rem 40px;}
    .equipment-rows { padding: 3rem; }
    .equipment-lists{display: block;}
    .equipment-list {margin-bottom: 20px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .our-equipment-main { padding: 80px 22px 40px;}
    .our-equipment-head{display: block; margin-bottom: 23px;}
    .our-equipment-title{font-size: 1rem; line-height: 1.5rem; margin-bottom: 26px;}
    .our-equipment-tabs{display: block;}
    ul.equipment-links{display: none;}
    .equipment-lists{padding: 1.25rem 1.81rem; display: none; background-color: var(--white);}
    .equipment-image{margin-bottom: 22px;}
    .equipment-rows{background: transparent;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .our-equipment-main { padding: 26px 22px 20px;}
    .our-equipment-head{display: block; margin-bottom: 23px;}
    .our-equipment-title{font-size: 1rem; line-height: 1.5rem; margin-bottom: 26px;}
    .our-equipment-tabs{display: block;}
    ul.equipment-links{display: none;}
    .equipment-lists{padding: 1.25rem 1.81rem; display: none; background-color: var(--white);}
    .equipment-link::after{ right: 20px; content: "\f107"; font-family: "Font Awesome 6 Pro";  position: absolute; display: block; top: 50%; transform: translateY(-50%);}
    .equipment-list{display: block; margin-bottom: 26px;}
    .equipment-image{margin-bottom: 22px;}
    .equipment-rows{background: transparent;}
}
