
.paths-intro{margin-bottom: 5.05rem;}
.paths-text p{margin-bottom: 1rem;}
.paths-text ul{margin-bottom: 1.9rem;}
.paths-list .fit-img{margin-bottom: 2rem;}
.paths-list-svg{top: -38px; right: -80px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .paths-wrap{padding: 5.875rem 0 6.55rem;}
    body .page-template-default .paths-wrap{padding: 5.875rem 0 5rem;}
    body.page-template-innovation .paths-wrap{padding-bottom: 88px;}
    .page-template-confirmation .paths-list{padding-bottom: 3rem;}
    .page-template-confirmation .paths-wrap{margin-top: -78px; padding: 79px 5rem 3.55rem;}
    .paths-intro{align-items: center;}
    .paths-intro h2{margin-bottom: 0;}
    .paths-text span.optional-text{margin-bottom: 1.65rem;}
    .paths-text h3{font-size: 2.5rem; margin-bottom: 1.55rem;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .paths-wrap{padding: 4.875rem 0 6.55rem;}
    .page-template-confirmation .paths-wrap{padding: 4.875rem 2rem 3.55rem;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .paths-wrap{padding: 2.75rem 0 4.313rem;}
    .page-template-confirmation .paths-wrap{padding: 3.75rem 22px 4.313rem;}
    .paths-intro{margin-bottom: 3.125rem;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .paths-wrap{padding: 3.75rem 0 4.313rem;}
    body.page-template-innovation .paths-wrap { padding: 0.75rem 0 2.313rem;}
    .page-template-confirmation .paths-wrap{padding: 20px 0 1.3rem;}
    .paths-intro{margin-bottom: 3.125rem;}
    .page-template-confirmation .paths-intro{margin-bottom: 2.25rem;}
    body.page-template-innovation .paths-intro h2{margin-bottom: 1.8rem;}
    .paths-intro h2 { margin-bottom: 1.5rem; }
    .paths-text h3{margin-bottom: 0.8rem; font-size: 1.5rem;}
    .paths-list:not(:last-child){margin-bottom: 4.313rem;}
    body.page-template-innovation .paths-list:not(:last-child) { margin-bottom: 1.7rem; }
    
    .paths-list .fit-img{margin-bottom: 1.6rem;}
    .paths-text ul{margin: 24px 0 1.9rem 22px;}
}
