

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .process-main{padding: 5rem 5rem 8.5rem; margin-top: -178px;}
    .process-head{max-width: 826px; margin-bottom: 3rem;}
    .process-head h2{font-size: 2.25rem; line-height: 2.5rem;}
}
@media only screen and (max-width: 1023px) and (min-width: 767px){
<<<<<<< HEAD
    .process-main{padding: 4rem 0 3.75rem;}
    .process-head{padding-bottom: 1rem;}
    .process-row{padding: 30px 0;}
    .process-list{margin-bottom: 3rem;}
    .process-list:nth-last-child(-n+2){margin-bottom: 0;}
=======
    .process-main{padding: 40px 0;}
    .process-row{display: block; padding: 30px 0;}
    .process-list{margin-bottom: 20px;}

>>>>>>> 42939be3095a0161befcf9504eb20521b744860b
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .process-main{padding: 40px 0;}
    .process-head{margin-bottom: 2rem; font-size: 1rem; line-height: 1.5rem;}
    .process-row{display: block; text-align: center;}
    .process-icon svg{width: 48px;}
}