

/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .seaport-section{margin: -325px 0 -25px; height: 650px; position: relative;}
    .seaport-section svg{z-index: -1; width: 100%; bottom: 0; left: 0; position: absolute;}
    body.page-template-news .seaport-section{margin-top: -180px;}
    body.page-template-about .seaport-section{margin: -334px 0 72px;}
    body.page-template-carrer .seaport-section{margin-top: -100px;}
}