
.fit-bg{opacity: 0; transition: opacity 0.5s ease;}
.fit-icon{margin-bottom: 10px;}
.sub-head-pos:hover .fit-bg{opacity: 1;}
.sub-intro-icon{right: -130px; top: -39px; width: 240px; opacity: 0.05;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .sub-head-main{padding: 7.5rem 5rem 5rem; margin-top: -80px;}
    .sub-intro-main{gap: 20px 80px; padding-bottom: 5rem;}
    .sub-intro-head{flex: 0 0 400px;}
    .sub-intro-desc{flex: 1; max-width: 41.625rem;}
}