



.view-position-head{margin-bottom: 40px; align-items: center;}
.view-position-head h2{margin-bottom: 0;}
.view-position-list{background: #EEF7FF; padding: 32px 32px 40px;}
.view-position-list svg{margin-bottom: 8px;}
.view-position-desc .font-bold{margin-bottom: 6px; display: block; color: var(--text-100);}







/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .view-position-avatar{gap: 1rem;}
    .view-position-image{flex: 0 0 64px;}
    .view-position-desc{flex: 1;}
}










