
.view-position-head h2{margin-bottom: 0;}
.view-position-list{background: #EEF7FF; padding: 32px 32px 40px;}
.view-position-list svg{margin-bottom: 8px;}
.view-position-desc .font-bold{margin-bottom: 6px; display: block; color: var(--text-100);}
.view-colors{left: 0; bottom: 0;}
.view-colors span{flex: 0 0 33.3333%; height: 0.125rem; display: block; background-color: var(--amar-blue);}
.position-svg{right: 0;}
.view-colors span:nth-child(2){background-color: var(--amar-orange);}
.view-colors span:nth-child(3){background-color: var(--amar-yellow);}


.view-position-avatar{gap: 1rem;}
.view-position-image{flex: 0 0 64px;}
.view-position-desc{flex: 1;}

/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .view-position-head{margin-bottom: 40px; align-items: center;}
    .view-position-row > * {margin-bottom: 2.5rem;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .view-position-head{display: block; padding-bottom: 1rem;}
    .view-position-head > *{margin-bottom: 2rem;}
    .view-position-head h2{margin-bottom: 0;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .view-position-row .col-md-3{margin-bottom: 1.5rem;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .view-position-row > *{margin-bottom: 1rem;}
    .view-position-head{display: block; text-align: center; margin-bottom: 40px;}
    .view-position-head h2{font-size: 1.5rem; line-height: 2rem; margin-bottom: 19px;}
    .view-position-list {padding: 23px 29px 25px 25px;}

}