
.contact-banner-section{background: linear-gradient(180deg, #1998D5 0%, #0C609D 100%);}
.contact-gradient{right: -241px; top: -220px;}
.contact-banner-main{padding: 224px 0;}
.contact-banner-text p span{color: var(--amar-blue-2);}
.contact-banner-globe{top: 50px; right: -100px; width: 784px;}

.contact-wrap{padding: 5rem 5rem; margin-top: -80px;}
ul.inquiries{margin: 0; gap: 1rem 5.95rem;}
ul.inquiries li::before{display: none;}
ul.inquiries li{display: inline-block; margin: 0;}
ul.inquiries li a{color: var(--amar-light-blue); font-size: 1.25rem; gap: 1rem; align-items: center; display: flex; flex-wrap: wrap;}
ul.inquiries li a span:not(:first-child){color: var(--text-100);}

/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .contact-banner-text{flex: 0 0 561px;}
    .contact-main{gap: 112px; padding: 0 0 4rem;}
    .contact-text{flex: 0 0 290px;}
    .contact-form{flex: 1;}
}