
.news-landing-page{padding: 200px 0 0;}
.browse-news-wrap{padding: 5rem 0 160px;}
.browse-news-head{margin-bottom: 2.5rem;}
.browse-news-form{margin-bottom: 2.5rem;}
.browse-news-form input, .browse-news-form .selectBox{padding: 18px 40px 18px 19px; font-size: 1rem; line-height: 1.5rem; border: 2px solid rgba(94, 103, 131, 0.25);}
.browse-text{color: var(--text-100); }
.browse-pos{margin-bottom: 37px;}
.browse-aside{padding: 1.5rem;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .browse-main{gap: 0 80px;}
    .browse-article{flex: 1;}
    .browse-aside{flex: 0 0 300px;}
    .browse-list{gap: 20px; margin-bottom: 40px;}
    .browse-image{flex: 0 0 328px;}
    .browse-text{flex: 1;}
}