
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; padding: 0; vertical-align: baseline;}
html.js{margin-top: 0 !important;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
audio, canvas, video {display: inline-block; max-width: 100%;}
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; height: 100%; box-sizing: border-box; scroll-behavior: smooth;}
a{color: var(--blue);text-decoration: none; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
a:focus {outline: none;}
a:hover, a:active {outline: 0;}
a:hover{color: var(--black);}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{clear: both; margin: 0; color: var(--text-100); font-weight: 700; font-family: 'Instrument Sans', sans-serif; text-transform: none;}
.h1, h1{font-size: 4rem; line-height: 4.8rem; margin-bottom: 1.563rem;}
.h2, h2{font-size: 2.5rem; line-height: 3rem; margin-bottom: 1.25rem;}
.h3, h3{font-size: 2rem; line-height: 2.5rem; margin-bottom: 1.125rem;}
.h4, h4{font-size: 1.5rem; line-height: 1.75rem; margin-bottom: 0.938rem;}
.h5, h5{font-size: 1.25rem; line-height: 2rem; margin-bottom: 1.313rem;}
.h6, h6{font-size: 1.125rem; line-height: 1.625rem; margin-bottom: 1.313rem;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{color: var(--heading-color); font-family: inherit;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{color: var(--blue);}
h1 span{position: relative; z-index: 0; display: inline-block;}
.h2 span, h2 span{position: relative; z-index: 0;}
h1 span svg{left: 0; top: -11px; position: absolute;}
.h2 span svg, h2 span svg{left: -9px; bottom: -16px; position: absolute;}
address{font-size: 1.125rem; line-height: 1.5rem; margin-bottom: 24px;}
abbr[title] {border-bottom: 1px dotted var(--heading-color); cursor: help;}
b, strong {font-weight: normal;}
cite, dfn, em, i {font-style: italic;}
p {margin-bottom: 1.5rem;}
p:last-child{margin-bottom: 0;}
code, kbd, tt, var, samp, pre {font-size: 0.938rem; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; line-height: 1.6;}
pre {border: 1px solid rgba(0, 0, 0, 0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 24px; max-width: 100%; overflow: auto; padding: 12px; white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
blockquote, q {-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none; }
blockquote{padding: 99px 120px 71px 117px; margin: 3.75rem 0 3.75rem; font-size: 2.75rem; line-height: 3rem; font-weight: 200; font-style: normal; position: relative; letter-spacing: normal;}
blockquote cite, blockquote small {font-size: 1rem;}
blockquote em, blockquote i, blockquote cite {font-style: normal;}
small {font-size: 0.875rem; line-height: 1.25rem;}
big {font-size: 125%;}
sup, sub {font-size: 0.625rem; letter-spacing: -0.18px; height: 0; line-height: 0; position: relative; vertical-align: baseline;}
sup {bottom: 1ex;}
sub {top: 0;}
dl{margin-bottom: 24px; font-size: 1rem; line-height: 1.75rem; letter-spacing: -0.8px; font-weight: 600; font-family: "Instrument Sans", sans-serif;}
dl:last-child{margin-bottom: 0;}
dl dt::before{width: 29px; height: 1px; margin-right: 11px; background-color: var(--text-color); content: ""; display: inline-block; vertical-align: middle;}
blockquote dl dt::before{background-color: var(--white);}
dd {margin-bottom: 24px;}
ul {list-style: none; margin: 0 0 20px 21px;}
ul > li {counter-increment: li; position: relative; margin-bottom: 8px;}
ul > li:before { top: 5px; left: -21px; width: 11px; height: 12px; content: ""; position: absolute;} 
li > ul {margin: 25px 0 26px 25px;}
ol {counter-reset: section; list-style: none; margin: 0 0 28px 20px;}
ol > li {counter-increment: li; position: relative; margin-bottom: 8px;}
ol > li:before{counter-increment: section; content: counter(section, decimal) "."; top: 4px; left: -20px; position: absolute; color: var(--blue); font-size: 1rem; line-height: 1rem; font-weight: 600;}
li > ol {margin: 25px 0 26px 25px;}
img {-ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; max-width: 100%; height: auto;}
figure {margin: 0;}
fieldset {border: none; margin: 0; padding: 0;}
legend {white-space: normal;}

table, th, td {border: 1px solid rgba(0, 0, 0, 0.1);}
table {border-collapse: separate; border-spacing: 0; border-width: 1px; margin: 0 0 30px; max-width: 100%; width: 100%;}
table tr td:first-child {text-align: left;}
th {font-family: "Instrument Sans", sans-serif; font-weight: 500; border-width: 0; padding: 14px 15px 13px; background-color: var(--black); color: var(--white); border-radius: 0;}
th span.icon{font-size: 0.875rem; margin-left: 4px; top: 0px; position: relative; }
td {border-width: 0; padding: 13px 15px 11px; text-align: center; border-bottom: 1px solid rgba(0,0,0,.1); vertical-align: middle; font-size: 1.05rem; line-height: 1.5rem;}
table tr:nth-child(even) td{background-color: rgba(0,0,0, 0.02);}
table tr:last-child td{border-bottom: none;}

caption, th, td {text-align: left;}
del {color: var(--black);}
hr{margin: 2.125rem 0 2.438rem; display: block; border: none; width: 100%; height: 1px; background-color: var(--black-10);}

::selection {background-color: var(--black); color: var(--white);}
::-moz-selection {background-color: var(--black); color: var(--white);}

/* Buttons */
button, .button, body .frm_forms .frm_form_fields .frm_submit button.frm_button_submit{background: linear-gradient(to bottom, #55a1f0 0%, #4795d0 92%); border-radius: 0; box-shadow: none; color: var(--text-100); display: inline-block; font-size: 1rem; line-height: 1.5; letter-spacing: normal; padding: 16px 32px 16px; vertical-align: middle; cursor: pointer; border-width: 2px; border-style: inherit; border-color: transparent; position: relative; text-align: center; font-family: 'Instrument Sans', sans-serif; font-weight: 700; text-transform: none; overflow: hidden; transition-delay: 0s; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1); z-index: 0;}
button:hover, .button:hover, body .frm_forms .frm_form_fields .frm_submit button.frm_button_submit:hover{background-color: transparent; border-color: var(--blue); color: var(--blue);}
button span, .button span{font-size: 1rem; line-height: 1rem; right: 28px; top: 50%; transform: translateY(-50%); position: absolute; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
button:hover span, .button:hover span{right: 22px;}

.btn-transparent{ padding: 14px 30px; border-style: solid; border-image-source: linear-gradient(to bottom, #88d2f2 0%, #4895d0 100%); border-image-slice: 1; background: none; }
.btn-transparent.white{color: var(--white);}

.btn-link{color: var(--text-100); display: inline-block; vertical-align: middle; font-size: 1rem; line-height: 1.5rem; font-weight: 700;}
.btn-link svg{margin-right: 13px; top: -1px; width: 41px; height: 8px; position: relative; overflow: hidden;}
.btn-link:hover{color: var(--amar-orange);}

/* Responsive images. Fluid images for posts, comments, and widgets */
embed, iframe, object, video{margin: 0; max-width: 100%; border-radius: 0; display: block; object-fit: cover;}
p > embed, p > iframe, p > object, span > embed, span > iframe, span > object {margin-bottom: 0;}

/* Alignment */
.alignleft {float: left;}
.alignright {float: right;}
.aligncenter {display: block; margin-left: auto; margin-right: auto; text-align: center;}
.hide {display: none;}

img.alignnone{margin: 25px 0 25px;}
img.alignleft{margin: 25px 25px 25px 0;}
img.alignright{margin: 25px 0 25px 25px;}
img.aligncenter{margin: 25px auto;}

/* Genericons */
.clearfix {clear: both;}
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/*-- flex css starts here --*/
.flex{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; width: 100%; }
.flex-vcenter{-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.flex-content-center{-ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center; }
.flex-center{-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center; }
.flex-nowrap{flex-wrap: nowrap; }
.flex-end{align-items: flex-end;}
.flex-start{align-items: flex-start;}
.row-reverse{flex-direction: row-reverse;}

/*-- custom css starts here --*/
body{font-size: 1.125rem; line-height: 1.625rem; letter-spacing: normal; font-weight: 300; font-family: 'Instrument Sans', sans-serif; overflow-x: hidden; position: relative; color: var(--text-color); background-color: transparent;}
.d-block{display: block;}
span.optional-text{margin-bottom: 1.313rem; font-size: 1rem; font-weight: 700; line-height: 1.25rem; display: block; text-transform: capitalize; font-family: "Instrument Sans", sans-serif;}
span.optional-text.lg{margin-bottom: 2.08rem;}
span.optional-text.muted{margin-bottom: 9px; color: var(--muted); -webkit-text-fill-color: var(--muted); background-image: none;}
.font-light{font-weight: 300;}
.font-regular{font-weight: 400;}
.font-medium{font-weight: 500;}
.font-bold{font-weight: 700;}
.fs-0{font-size: 0; line-height: 0;}
.fs-9{font-size: 9px; line-height: 10px; letter-spacing: 3.15px; font-weight: 600; font-family: "Instrument Sans", sans-serif;}
.fs-10{font-size: 0.625rem; line-height: 0.875rem;}
.fs-16{font-size: 1rem; line-height: 1.5rem;}
.fs-17{font-size: 1.063rem; line-height: 1.75rem; letter-spacing: -0.85px; font-family: "Instrument Sans", sans-serif;}
.fs-20{font-size: 1.25rem; line-height: 1.75rem; letter-spacing: normal;}
.fs-24{font-size: 1.5rem; line-height: 1.875rem;}
.fs-26{font-size: 1.625rem; line-height: 2.125rem; margin-bottom: 1.75rem;}
.radius-10, .radius-img-10 img{border-radius: 10px;}
.radius-20, .radius-img-20 img{border-radius: 20px;}
.radius-50, .radius-img-50 img{border-radius: 50%;}
.radius-100{border-radius: 100px;}

.relative{position: relative; z-index: 1;}
.background-bg{width: 100%; height: 100%; top: 0; left: 0; position: absolute; z-index: -1;}
.z-1{z-index: 1;}
.z-2{z-index: 2;}
.white-bg{background-color: var(--white);}

.fit-bg{position: relative; display: block;}
.fit-bg::before{ border-radius: 20px; background-color: var(--blue); background-image: linear-gradient(to bottom, rgba(1, 32, 237, 0.15), rgba(1, 32, 237, 0.15)), linear-gradient(to bottom, #d9d9d9, #d9d9d9); content: ""; opacity: 0.15; width: 100%; height: 100%; top: 0; left: 0; position: absolute;}
figure.object-fit{width: 100%; height: 100%; display: block;}
picture.object-fit{width: 100%; height: 100%; display: block;}
.object-fit img, .fit-bg img{width: 100%; height: 100%; font-family: "object-fit: cover;"; object-fit: cover; -o-object-fit: cover; object-position: 50% 50%; -o-object-position: 50% 50%; }

.play-btn-main {width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; position: absolute; overflow: hidden; z-index: 1;}
.play-btn-main .play-btn{width: 80px; height: 80px; z-index: 1;}
.play-btn-bg{width: 100%; height: 100%; font-size: 0; line-height: 0; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
.play-btn-bg img{margin-left: 3px; transform: scale(1); transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
.play-btn-bg:hover img{transform: scale(1.125);}
.play-btn-bg:hover::before{opacity: 1;}
.play-btn-bg > span.btn-circle{ background-color: var(--white); z-index: 1; }
.play-btn-bg > span.btn-circle::after{ top: 50%; left: 50%; margin-left: 3px; transform: translate(-50%, -50%); font-size: 1.7rem; line-height: 1.688rem; color: var(--blue); content: "\f04b"; font-weight: 900; font-family: "Font Awesome 6 Sharp"; display: block; position: absolute; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
.patients-swipe .play-btn-bg > span.btn-circle::after{font-size: 1.4rem;}
.play-btn-bg > span.btn-circle:hover{background-color: var(--blue);}
.play-btn-bg > span.btn-circle:hover::after{color: var(--white);}
.play-btn-bg > span {transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1); border-radius: 50%; bottom: 0; content: " "; left: 0; position: absolute; right: 0; top: 0; }
.play-btn-bg > span:not(:first-child) { animation: 6s playBtnZooming infinite linear; transform: scale(1); filter: opacity(0.25); -webkit-filter: opacity(0.25); background-color: var(--white); }
.play-btn-bg > span:not(:first-child):nth-child(2) { -webkit-animation-delay: 2s; animation-delay: 2s; }
.play-btn-bg > span:not(:first-child):nth-child(3) { -webkit-animation-delay: 4s; animation-delay: 4s; }
@keyframes playBtnZooming { 0% { transform: scale(1); opacity: 1; } 100% { transform: scale(5); opacity: 0; } }

.section{padding: 6.25rem 0;}
.section-head{margin-bottom: 2.875rem;}
.section-head h3{flex: 1;}
.circle {width: 8px; height: 8px; margin-right: 1rem; left: 0; top: 17px; display: flex;}
.circle > *{top: 0; left: 0; right: 0; bottom: 0; width: 8px; height: 8px; background-color: var(--blue); border-radius: 50%; content: ""; display:block; position:absolute;}
.circle >:not(:first-child) { animation:circleCircle 6s linear infinite; filter:opacity(.3); transform:scale(.8) }
.circle >:not(:first-child):nth-child(2) { -webkit-animation-delay:2s; animation-delay:2s }
.circle >:not(:first-child):nth-child(3) { -webkit-animation-delay:4s; animation-delay:4s }
@keyframes circleCircle { 0% { opacity: 1; transform:scale(.8) } to { opacity: 0; transform:scale(6) } }

.ml-auto{margin-left: auto;}
.mr-auto{margin-right: auto;}
.m-0{margin: 0;}
.mb-0{margin-bottom: 0;}
.mb-2{margin-bottom: 1.958rem;}
.mb-3{margin-bottom: 3.125rem;}
.mb-lg-3{margin-bottom: 3.625rem;}
.p-0{padding: 0;}
.pt-0{padding-top: 0;}
.pt-2{padding-top: 2.875rem;}
.pb-0{padding-bottom: 0;}
.pb-3{padding-bottom: 3.125rem;}
.p5{padding: 5.5rem 0;}

.full_width{width: 100% !important; max-width: 100% !important; flex: 0 0 100% !important; margin-left: 0 !important; margin-right: 0 !important; float: none !important; display: block !important; padding-left: 0 !important; padding-right: 0 !important; left: 0 !important;}
.fluid-container{width: 100vw; left: -50vw; margin-left: 50%;}

.inverted{color: var(--white);}
.inverted h1, .inverted h2, .inverted h3, .inverted h4{color: var(--white);}
.inverted h1 a, .inverted h2 a, .inverted h3 a, .inverted h4 a{color: var(--white);}
.inverted h1 a:hover, .inverted h2 a:hover, .inverted h3 a:hover, .inverted h4 a:hover{color: var(--amar-orange);}
.inverted dl dt::before{background-color: var(--white);}

.dark-text{color: var(--text-color);}
.dark-text p a{color: var(--text-color);}
.dark-text p a:hover{color: var(--blue);}

.line-clamp{  display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;}
.clamp-3{ -webkit-line-clamp: 3; }


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .container{width: 100%; margin: 0 auto;}
    .container.md{max-width: 1120px;}
    .container.sm{max-width: 896px;}
    .hide-desktop{display: none;}
    .text-md-right{text-align: right;}
    h1 span{padding: 0 2.7rem 0 1.75rem;}
}
@media only screen and (min-width: 1400px){
    .container.lg{max-width: 1440px;}
    .container{max-width: 1354px;}
}
@media only screen and (max-width: 1379px) and (min-width: 1024px){
    .container:not(.sm){padding: 0 22px;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .container{padding: 0 22px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .hide-tablet{display: none;}
    .h1, h1 { font-size: 3.25rem; line-height: 4.375rem; }
    h1 span{padding: 0 1.75rem;}
    h1 span svg{width: 100%;}
    blockquote{padding: 70px 60px 60px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .container.p-0{padding: 0;}
    .hide-mobile{display: none;}
    h1{font-size: 2.75rem; line-height: 3.25rem; letter-spacing: -2.2px;}
    h2, .h2{font-size: 2.313rem; line-height: 2.688rem; letter-spacing: -1.11px;}
    h3, .h3{font-size: 1.625rem; line-height: 2.125rem; letter-spacing: -1.3px;}
    h6, .h6{font-size: 1.188rem; line-height: 1.75rem; letter-spacing: -0.95px;}
    .fs-24{font-size: 1.313rem; line-height: 1.688rem;}
    .fs-26{font-size: 1.313rem; line-height: 1.75rem; margin-bottom: 1.563rem;}
    h1 span{padding: 0 1.75rem;}
    h1 span svg{top: -24px; width: 230px;}
    .h2 span svg, h2 span svg{width: 264px;}
    span.optional-text.lg{margin-bottom: 1.4rem;}

    .button.sm{padding: 9px 47px 8px 22px;}
    .button.sm span{right: 20px;}
    .button.sm:hover span{right: 15px;}
    blockquote{padding: 51px 41px 26px; font-size: 1.875rem; line-height: 2.375rem; letter-spacing: -0.3px; margin: 3.125rem 0;}
    blockquote p:not(:last-child){margin-bottom: 1.263rem;}
    .section{padding: 4.375rem 0;}
    .mb-3{margin-bottom: 1.375rem;}
    .pt-2{padding-top: 1.5rem;}
    .circle{top: 13px;}

    img.alignnone,img.alignleft,img.alignright,img.aligncenter{margin: 25px auto; display: block; float: none;}
}
@media only screen and (max-width: 380px) and (min-width: 200px){
    h1 { font-size: 2.5rem; line-height: 3rem; }
    h1 span{padding: 0 0.75rem;}
    h1 span svg{top: -28px; width: 200px;}
    .h2, h2{font-size: 2rem; line-height: 2.5rem;}
}