

.swiper-pagination-bullets{margin: 23px 0 0; padding: 0; gap: 8px; display: flex; flex-wrap: wrap; justify-content: center;}
.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 !important; background: var(--amar-blue-2); border-radius: 50%; font-size: 0; line-height: 0; width: 14px; height: 14px; padding: 0; margin: 0; opacity: 1;}
.swiper-pagination-bullets .swiper-pagination-bullet-active{background: var(--amar-orange);}
.swiper-vertical > div.swiper-pagination-bullets{transform: none; bottom: 0; left: 0; right: 0; top: auto; position: absolute; justify-content: flex-start;}

.swiper-initialized .custom-swiper-button{width: 3.5rem; height: 3.5rem; bottom: 0; top: auto; z-index: 10; background: linear-gradient(180deg, #63BCFF 0%, #4795D0 91.96%); color: var(--text-100);}
.swiper-initialized .custom-swiper-button.swiper-button-prev{right: 70px; left: auto; opacity: 0.85;}
.custom-swiper-button::after{display: none;}



/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .intro-pagination{display: none;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .swiper-pagination-bullets{gap: 6px;}
    .swiper-pagination-bullets .swiper-pagination-bullet{background: var(--amar-light-blue); border-radius: 8px; width: 29px; height: 3px;}
    .swiper-pagination-bullets .swiper-pagination-bullet-active{background: var(--amar-orange);}
}